<div class="col md-12 text-center">
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
  <a class="btn btn-empty">?</a>
</div>
