<div class="col md-12 text-center">
  <div class="col md-4"><a class="btn btn-empty">?</a></div>
  <div class="col md-4"><a class="btn btn-empty">?</a></div>
  <div class="col md-4"><a class="btn btn-empty">?</a></div>
  <div class="col md-4"><a class="btn btn-empty">?</a></div>
  <div class="col md-4"><a class="btn btn-empty">?</a></div>
  <div class="col md-4"><a class="btn btn-empty">?</a></div>
  <div class="col md-4"><a class="btn btn-empty">?</a></div>
  <div class="col md-4"><a class="btn btn-empty">?</a></div>
</div>
