<div id="pokemon_get-container">
  <div class="row">
    <div class="col md-12 text-center">
      <%= image_tag("pikachu.png") %>
      <div class="title">
        <p>ピカチュウ</p>
        <div class="title-get">
          <p>ゲット！</p>
        </div>
      </div>

      <div class="collections">
        <%= render 'collections' %>
      </div>

      <div class="next-buttons">
          <%= link_to "おわる", {:controller => "openings", :action => "show"}, :class => "btn" %>
          <%= link_to "つぎ", {:controller => "games", :action => "show"}, :class => "btn" %>
      </div>
    </div>
  </div>
</div>
