<div class="row">
  <div class="col md-12 text-center">
    <h1>リョウタ算数博士</h1>
    <%= image_tag("pikachu") %>
    <h1>すうじをこたえてポケモンをゲットしよう</h1>
    <%= link_to "はじめる", {:controller => "games", :action => "show"}, :class => "btn" %>
  </div>
</div>
