<div class="row">
  <div class="col md-12 text-center">
    <h1>せいかい！</h1>
    <%= image_tag("pikachu") %>
  </div>
  <div class="col md-6 text-right">
    <%= link_to "おわる", {:controller => "openings", :action => "show"}, :class => "btn" %>
  </div>
  <div class="col md-6 text-left">
    <%= link_to "つぎ", {:controller => "games", :action => "show"}, :class => "btn" %>
  </div>
</div>
