<div id="game-container">
  <header>
    <h1>すうじをこたえてポケモンをゲットしよう</h1>
  </header>

  <div id="question-container">
    <div id="description">
      <p>あと <span class="">3</span> かいでゲット</p>
    </div>

    <div id="content">
      <div class="circle"><div class="inner-num">3</div></div>
      <div class="sign">+</div>
      <div class="circle"><div class="inner-num">?</div></div>
      <div class="sign">=</div>
      <div class="circle"><div class="inner-num">7</div></div>
    </div>

    <div id="question">
      <div class="circle"><div class="inner-num">?</div></div>
      <span>はどれでしょう？</span>
    </div>

    <div id="navigation">
      <%= image_tag 'pikachu.png', height: '350px' %>
      <div class="bubble bubble-half-left">すうじをおしてね</div>
    </div>
  </div>

  <div id="numbers">
    <div class="row">
      <% (0..4).each do |i| %>
        <button class="col md-2 btn input-num"><%= i %></button>
      <% end %>
    </div>
    <div class="row">
      <% (5..9).each do |i| %>
        <button class="col md-2 btn input-num"><%= i %></button>
      <% end %>
    </div>
  </div>

</div>
