// Place all the styles related to the PokemonGets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partial.scss";

#pokemon_get-container {
  @extend .flex-box;
  @extend .align-items;

  color: $LIGHT_PRIMARY_COLOR;
  background-color: $DEFAULT_PRIMARY_COLOR;
  padding: 0 0;

  .pokemon {
    background-image: image-url("pokemon-back.jpeg");
    background-size: 115%;
  }

  #pokemon-image {
    width: 50em;
  }

  .title {
    font-size: 5em;
    padding: 0.6em 1.8em;
    color: $TEXT_PRIMARY_COLOR;
  }

  .title p {
    margin-bottom: 0em;
  }

  .description {
    font-size: 4em;
    padding: 0.6em 1.8em;
  }

  .collections {
    padding-top: 1em;
    font-size: 4em;
    height: 40em;
    background-color: $TEXT_PRIMARY_COLOR;

    > .col > p {
      color: $DARK_PRIMARY_COLOR;
    }
  }

  .next-buttons {
    padding: 0.6em 0;
    font-size: 6em;
  }

  .pokemons {
    padding-left: 0.3em;
  }

  .circle-not-got{
    background-color: GRAY;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin-bottom: 1em;
  }

  .circle-got{
    background-color: $LIGHT_PRIMARY_COLOR;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin-bottom: 1em;
  }
}
